body {
  font-family: 'monospace'
}

header .banner {
  opacity: 1;
  height: 3em;

}

header .banner:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);

}